.swiper-button-next,
.swiper-button-prev
{
    color: #4f4f4f;

    top: 0;
    bottom: 0;

    display: flex;

    width: 77px;
    height: 77px;
    margin: auto;

    transition: color .2s linear;
    transform: none;

    background: rgba(255, 255, 255, .80);

    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.swiper-button-prev
{
    left: 0;
}

.swiper-button-next
{
    right: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after
{
    display: none;
}


.swiper-button-next .icon,
.swiper-button-prev .icon
{
    display: block;

    width: 21px;
    height: 20px;
}

.swiper-button-prev .icon
{
    transform: rotate(180deg);
}


.swiper-button-next:hover,
.swiper-button-prev:hover
{
    color: #c97a4d;
}


.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled
{
    display: none;

    opacity: 0;
}



.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
{
    position: absolute;
    right: 0;
    bottom: 100%;
    left: auto;

    display: flex;

    width: auto;
    height: 7px;
    margin-bottom: 27px;

    pointer-events: none;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.swiper-pagination-bullet
{
    display: block;

    width: 7px;
    height: 7px;

    transition: background .2s linear;
    pointer-events: auto;

    opacity: 1;
    border: 1px solid #000;
    border-radius: 50%;
    background: none;
}

.swiper-pagination-bullet + .swiper-pagination-bullet
{
    margin-left: 6px !important;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.active
{
    background: #000;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}
